<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientConfigJson" value="D:\dev\DiscordRadioBot\DiscordRadioBot\DiscordRadioBot\Resources\config.json"/>
		<add key="EnglishFile" value="D:\dev\DiscordRadioBot\DiscordRadioBot\DiscordRadioBot\Resources\english.txt"/>
		<add key="PortugueseFile" value="D:\dev\DiscordRadioBot\DiscordRadioBot\DiscordRadioBot\Resources\portuguese.txt"/>
	</appSettings>
</configuration>